body{
  background-image: url(/Users/siddharth/Courses/full-stack-py-django/html_level_one/wallhaven.jpg);
}
div{
  background-color: white;
  border-color: blue;
  border-width: 5px;
  border-style:outset;
}
p{
  color:red;
}
span{
  background-color: black;
}
